version: '3'
services:
  aioznode:
    image: aioznode
    ports:
      - "1317:1317" # Expose le port 1317 pour que les autres conteneurs puissent y accéder
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:1317/worker/balance"]
      interval: 10s
      timeout: 10s
      retries: 5
    restart: always
    networks:
      - aioznetwork
    volumes:
      - ~/Tmp_data/aioznode/nodedata:/nodedata

  aioznode-auto-withdraw-reward:
    image: aioznode-auto-withdraw-reward
    depends_on:
      # - aioznode # Indique que ce service dépend de aioznode
      aioznode:
        condition: service_healthy
    restart: always
    environment:
      - CHECK_FREQ=60
      - ENDPOINT=http://aioznode:1317
    networks:
      - aioznetwork
    volumes:
      - ~/Tmp_data/aioznode/nodedata:/nodedata

networks:
  aioznetwork:
